Repository simonsobs/socs, pull requests merged in 2022-08, with the labels that each got.

#324 Simulator related ACU Agent Updates
  agents/acu/acu_agent.py
Labels: bug, agent: acu

#336 Put the approx_hwp_freq in session.data object for SupervisorAgent
  agents/chwp/hwpbbb_agent.py
  docs/agents/chwp_encoder.rst
Labels: enhancement

#262 Holo dev
  .gitignore
  agents/holo_fpga/roach_agent.py
  agents/holo_synth/synth_agent.py
  agents/ocs_plugin_so.py
  docs/agents/holo_fpga.rst
  docs/agents/holo_synth.rst
  docs/index.rst
Labels: new agent

#226 hwp picoscope agent
  agents/hwp_picoscope/Dockerfile
  agents/hwp_picoscope/pico_agent.py
  agents/ocs_plugin_so.py
  docker-compose.yml
  docs/agents/hwp_picoscope.rst
  docs/index.rst
  socs/agent/class_ps3000a.py
Labels: new agent

#345 New control options for suprsync
  agents/ocs_plugin_so.py
  agents/suprsync/suprsync.py
  socs/db/suprsync.py
Labels: enhancement
