Repository simonsobs/socs, pull requests merged in 2023-05, with the labels that each got.

#438 Update state of control functionality in cryomech agent description
  .github/workflows/develop.yml
  .github/workflows/pytest.yml
  .github/workflows/skipped-pytest.yml
  .github/workflows/skipped-test-build.yml
  .github/workflows/test-build.yml
  .readthedocs.yaml
  docs/agents/cryomech_cpa.rst
Labels: documentation

#421 Split hwp rotation
  docs/agents/hwp_pid.rst
  docs/agents/hwp_pmx.rst
  docs/index.rst
  socs/agents/hwp_pid/__init__.py
  socs/agents/hwp_pid/agent.py
  socs/agents/hwp_pid/drivers/__init__.py
  socs/agents/hwp_pid/drivers/pid_controller.py
  socs/agents/hwp_pmx/__init__.py
  socs/agents/hwp_pmx/agent.py
  socs/agents/hwp_pmx/drivers/PMX_ethernet.py
  socs/agents/hwp_pmx/drivers/__init__.py
  socs/agents/ocs_plugin_so.py
  socs/plugin.py
  tests/agents/hwp_pid/test_pid_controller.py
  tests/default.yaml
  tests/integration/test_hwp_pid_agent_integration.py
  tests/integration/test_hwp_pmx_agent_integration.py
  tests/integration/test_hwp_rotation_agent_integration.py
Labels: new agent

#445 Fix UPS Agent connection issue
  socs/agents/ups/agent.py
Labels: bug, agent: ups
