Repository simonsobs/socs, pull requests merged in 2024-10, with the labels that each got.

#761 Inconsequential correction to IFM SBN246 temperature decode.
  socs/agents/ifm_sbn246_flowmeter/agent.py
Labels: enhancement

#771 cryomech: Move PTC class to drivers module
  socs/agents/cryomech_cpa/agent.py
  socs/agents/cryomech_cpa/drivers.py
Labels: agent: cryomech

#767 Add error handling to Cryomech PTC drivers and agent acq process
  socs/agents/cryomech_cpa/agent.py
  socs/agents/cryomech_cpa/drivers.py
Labels: agent: cryomech

#777 Fix typo in the docstrings for bias commands
  socs/agents/pysmurf_controller/agent.py
Labels: documentation
